.nodered/flows.json
[
    {
        "id": "f1c6d6b3f42ea1e6",
        "type": "inject",
        "z": "5e21946ae579c9e2",
        "name": "Every 2s",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "b7dc25f90e2a6fd7"
            ]
        ]
    },
    {
        "id": "b7dc25f90e2a6fd7",
        "type": "http request",
        "z": "5e21946ae579c9e2",
        "name": "Get Firebase Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://tracking-anak-07-default-rtdb.asia-southeast1.firebasedatabase.app/TrackingAnak.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 220,
        "wires": [
            [
                "5d0e8fc2efed1342"
            ]
        ]
    },
    {
        "id": "5d0e8fc2efed1342",
        "type": "function",
        "z": "5e21946ae579c9e2",
        "name": "Detect Change & Format",
        "func": "// Ambil data sebelumnya dari context\nlet lastData = context.get(\"lastData\") || {};\nlet newData = msg.payload;\n\n// Cek apakah ada perubahan data\nif (JSON.stringify(newData) !== JSON.stringify(lastData)) {\n    context.set(\"lastData\", newData); // Simpan data terbaru\n\n    let pesan = `🚨 PERINGATAN BAHAYA!\n❤️ BPM: ${newData.bpm}\n📍 Lokasi: https://maps.google.com/?q=${newData.latitude},${newData.longitude}`;\n\n    msg.payload = {\n        chatId: \"1345966853\",\n        type: \"message\",\n        content: pesan\n    };\n    return msg;\n} else {\n    return null; // Kalau gak ada perubahan\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 220,
        "wires": [
            [
                "356fd2a2e56b6d02"
            ]
        ]
    },
    {
        "id": "356fd2a2e56b6d02",
        "type": "telegram sender",
        "z": "5e21946ae579c9e2",
        "name": "Send to Telegram",
        "bot": "7e908c8074672df4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 820,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "7e908c8074672df4",
        "type": "telegram bot",
        "botname": "AqilaBot",
        "usernames": "",
        "chatids": "1345966853",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]