.nodered/flows.json
[
  {
    "id": "inject_every_2s",
    "type": "inject",
    "z": "flow_utama",
    "name": "Every 2s",
    "props": [],
    "repeat": "2",
    "once": true,
    "onceDelay": "1",
    "x": 150,
    "y": 220,
    "wires": [
      ["inject_firebase_url"]
    ]
  },
  {
    "id": "inject_firebase_url",
    "type": "function",
    "z": "flow_utama",
    "name": "Set Firebase URL",
    "func": "msg.url = global.get(\"firebaseUrl\");\nreturn msg;",
    "outputs": 1,
    "x": 350,
    "y": 220,
    "wires": [
      ["http_request_firebase"]
    ]
  },
  {
    "id": "http_request_firebase",
    "type": "http request",
    "z": "flow_utama",
    "name": "Get Firebase Data",
    "method": "GET",
    "ret": "obj",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 550,
    "y": 220,
    "wires": [
      ["detect_change"]
    ]
  },
  {
    "id": "detect_change",
    "type": "function",
    "z": "flow_utama",
    "name": "Detect Change & Format",
    "func": "let lastData = context.get(\"lastData\") || {};\nlet newData = msg.payload;\n\nif (JSON.stringify(newData) !== JSON.stringify(lastData)) {\n    context.set(\"lastData\", newData);\n\n    let chatId = global.get(\"chatId\");\n    let pesan = `🚨 PERINGATAN BAHAYA!\\n❤️ BPM: ${newData.bpm}\\n📍 Lokasi: https://maps.google.com/?q=${newData.latitude},${newData.longitude}`;\n\n    msg.payload = {\n        chatId: chatId,\n        type: \"message\",\n        content: pesan\n    };\n    return msg;\n} else {\n    return null;\n}",
    "outputs": 1,
    "x": 790,
    "y": 220,
    "wires": [
      ["send_to_telegram"]
    ]
  },
  {
    "id": "send_to_telegram",
    "type": "telegram sender",
    "z": "flow_utama",
    "name": "Send to Telegram",
    "bot": "bot_config",
    "haserroroutput": false,
    "outputs": 1,
    "x": 1050,
    "y": 220,
    "wires": [[]]
  },
  {
    "id": "bot_config",
    "type": "telegram bot",
    "botname": "AqilaBot",
    "chatids": "1345966853",
    "baseapiurl": "",
    "updatemode": "polling",
    "pollinterval": 300,
    "usesocks": false,
    "localbothost": "0.0.0.0",
    "localbotport": 8443,
    "publicbotport": 8443,
    "verboselogging": false
  }
]
